<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<false/>
	<key>method</key>
	<string>enterprise</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>cn.kidstone.dajiaochong</key>
		<string>dajiaochongDistriPP</string>
	</dict>
	<key>signingCertificate</key>
	<string>EF3AC928F44E139DC207817CE1F814F763749743</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>4HW634UU7W</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
